#team {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

.shape-11 {
  position: absolute;
  height: 5.5em;
  width: 5.5em;
  border-radius: 5px;
  left: -7.5%;
  top: -22%;
}

.shape-12 {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 1;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-content .row {
  justify-content: center;
  z-index: 2;
  position: relative;
}

.team-member p:first-child {
  text-wrap: nowrap;
  font-weight: 700;
}

.team-member p {
  font-size: 1.3em;
  font-weight: 400;
}

.team-content span {
  display: flex;
  margin-top: 0.25em;
  font-size: 4em;
  justify-content: center;
}

.shape-11 {
  position: absolute;
}

.group {
  display: flex;
}

.mobile-dot {
  display: none !important;
}

.team-member:first-child,
.team-member:nth-child(2) {
  margin-bottom: 3em;
}


.team-member img {
  border-radius: 10px;
  width: 20em;
  height: 18em;
  margin-bottom: 1em;
  object-fit: cover;
  object-position: top;
  box-shadow: 5px -5px 10px 1px rgba(0, 0, 0, 0.2);
}

.team-member-photo-3 {
  object-position: center 20% !important;
}

.team-member-photo-4 {
  object-position: center 22% !important;
}

.team-member .name {
  font-weight: bold;
  text-transform: capitalize;
  width: max-content;
  margin-bottom: 0.5rem;
}

.team-shape {
  position: absolute;
  top: -5%;
  right: -5%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 10em;
  height: 10em;
  border-radius: 10px;
  z-index: -1;
}

.team-shape-2 {
  /* background-color: var(--brand-green) !important; */
}

.team-shape-3 {
  /* background-color: var(--brand-green) !important; */
}

@media (width <= 786px) {
  .team-member {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .shape-12 {
    width: 100%;
    border-radius: 0;
    mix-blend-mode: difference;
  }

  .mobile-dot {
    display: flex !important;
  }

  .team-content .row:last-child .team-member:first-child {
    margin-top: 4em;
  }

  .team-shape-2 {
    right: 0;
    /* left: 0; */
    background-color: var(--brand-green) !important;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  }

  .team-content .row:last-child .team-member:first-child .team-shape-2 {
    left: 0;
    /* left: 0; */
    background-color: rgb(255, 255, 255) !important;
  }

  .team-shape-3 {
    top: 40%;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}