#team {
  min-height: 100vh;
  min-height: 100dvh;
}

.shape-11 {
  position: absolute;
  height: 5.5em;
  width: 5.5em;
  border-radius: 5px;
  left: -7.5%;
  top: -22%;
}

.shape-12 {
  position: absolute;
  height: 100%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 1;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-content .row {
  justify-content: center;
  z-index: 2;
  position: relative;
}

.team-member p:first-child {
  text-wrap: nowrap;
  font-weight: 700;
}

.team-member p {
  font-size: 1.5em;
  font-weight: 200;
}

.team-content span {
  display: flex;
  margin-top: 0.25em;
  font-size: 4em;
  justify-content: center;
}

.shape-11 {
  position: absolute;
}

.group {
  display: flex;
}

.mobile-dot {
  display: none;
}

@media (width <= 786px) {
  .team-member {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .shape-12 {
    width: 100%;
    border-radius: 0;
    mix-blend-mode: difference;
  }

  .mobile-dot {
    display: block;
  }
}