.get-in-touch-logo {
  width: 50%;
}

#get-in-touch .logo-img-container {
  transform: scale(0.8);
}

.line-footer {
  width: 50px;
  height: 3px;
  background: #0b6213;
  margin-bottom: 30px;
  margin-top: 20px;
}

.get-in-touch-overlay {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* COMPANY LINKS */
.footer-widget .footer-link {
  padding-left: 0;
}
.footer-widget .footer-link li {
  border-bottom: 1px solid rgba(214, 214, 214, 0.1);
  transition: .4s;
}
.footer-widget .footer-link li:first-child a {
  padding-top: 0;
}
.footer-widget .footer-link li:hover a {
  padding-left: 8px;
  color: #FFF;
}
.footer-widget .footer-link li a {
  font-size: 13px;
  color: #ccc;
  display: flex !important;
  transition: .4s;
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 14px;
  font-weight: 600;
  text-decoration: none !important;
}

.home-logo-image {
  width: 28vw;
}

.dsc-logo-letters {
  font-size: 6.5vw;
  font-weight: 600;
}

.dsc-logo-image {
  width: 15vw;
}

@media (width <= 576px){
  .footer-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1em
  }

  .footer-widget p {
    text-align: center;
    padding: 1em 1em 3em;
  }

  #get-in-touch .logo-img-container div:first-child{
    width: 150%;
  }

  .home-logo-image {
    width: 100%;
  }

  .dsc-logo-letters {
    font-size: 13vw;
    font-weight: 600;
    width: fit-content;
  }

  .dsc-logo-image {
    width: 90vw;
  }
}