#navbar {
  z-index: 10;
  padding: 1.5em 4em;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: all ease-in-out 0.25s ;
}

.logo {
  width: 8em;
}

.nav-links a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9em;
}

.nav-item { position: relative; }

.nav-menu .nav-item.active .nav-link,
.nav-menu .nav-item:hover .nav-link {
    color: var(--brand-text-color-green);
}

.nav-menu .nav-item .nav-link:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    top: 25px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    background: #0b6213 !important;
    opacity: 0;
}

.nav-menu .nav-item.active > .nav-link:before,
.nav-menu .nav-item:hover > .nav-link:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    color: #0b6213 !important;
    background-color: transparent;
}

@media (width <= 992px) {
  #main-menu {
    flex-direction: column !important;
  }

  .logo-container {
    width: 100%;
  }

  .closedMenu {
    display: none;
    opacity: 0;
  }

  .nav-links {
    height: 0;
    opacity: 0;
  }

  .openMenu {
    padding-top: 1em;
    opacity: 1 !important;
    height: 100%;
  }

  #main-menu {
    padding: 0;
  }
}

@media (width <= 576px) {
  #navbar {
    padding: 1.5em 1em;
  }

  .openMenu {
    padding: 3em 0;
  }
}