#home {
  max-width: 100vw;
  overflow: hidden;
}

.home-logo-image {
  width: 40vw;
}

.intro-text {
  font-size: 5em;
  line-height: 0.6;
  font-weight: 500;
  padding: 0.5em 0;
  margin-bottom: -0.5em;
  z-index: 2;
  position: relative;
}

.intro-text :nth-child(2){
  padding-left: 1em;
  color: var(--brand-text-color-green);
  z-index: 4;
  position: relative;
}

.intro-text :nth-child(3){
  padding-left: 1em;
  color: var(--brand-text-color-green);
  z-index: 4;
  position: relative;
}

.intro-text :nth-child(4){
  padding-left: 3em;
  z-index: 4;
  position: relative;
}

.cover-img {
  object-fit: cover;
}

.header-img {
  height: 95vh;
  background-size: cover;
  width: 41.5% !important;
  background-position: top;
  background-repeat: no-repeat;
}

.inner-top-shadow {
  box-shadow: inset 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.shape-1 {
  height: 1.25em;
  width: 17.5vw;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shape-2 {
  position: absolute;
  height: 6em;
  width: 8em;
  border-radius: 5px;
  right: 8.5em;
  top: -3.25em;
}

.commitment-text-container {
  font-weight: 300;
}

.commitment-img {
  height: auto;
  background-size: cover;
  width: 42.5% !important;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 30em;
}

.shape-3 {
  position: absolute;
  height: 20em;
  width: 2em;
  border-top-right-radius: 5px;
  left: 0;
  bottom: 0;
  /* background-color: #12591a; */
}

.why-us-img {
  height: 70vh;
}

.shape-4 {
  background: black;
  position: absolute;
  height: 8em;
  width: 8em;
  border-radius: 5px;
  right: 17.5%;
  top: -1.5em;
}

.shape-5 {
  background: black;
  height: 5.25em;
  width: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.shape-6 {
  position: absolute;
  height: 6em;
  width: 6em;
  border-radius: 5px;
  right: 0;
  top: -3.95em;
}

.expertise-img-1 {
  height: 80vh
}

.expertise-img-2 {
  height: 100vh;
}

.mobile-shape-1 {
  position: absolute;
  height: 2.25em;
  width: 80vw;
  right: -1em;
  bottom: 0.25em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: black;
}


@media (width <= 992px){
  .responsive-row {
    width: 100% !important;
  }

  .header-img {
    height: 20em;
  }
}

@media (width <= 576px){
  .home-logo-image {
    width: 288px;
  }

  .intro-text {
    font-size: 3em;
    line-height: 0.5;
    font-weight: 500;
    padding: 0.5em 0;
    margin-bottom: -1.5em;
    z-index: 2;
    position: relative;
  }

  .intro-text :nth-child(2){
    padding-left: 1em;
    color: var(--brand-text-color-green);
  }

  .intro-text :nth-child(3){
    padding-left: 2em;
    color: var(--brand-text-color-green);
  }

  .intro-text :nth-child(4){
    padding-left: 3em;
    z-index: 4;
    position: relative;
  }

  .why-us-heading {
    margin: 0;
  }

  .shape-5 {
    position: absolute;
    top: -4em;
  }

  .why-us-img {
    display: none;
  }

  .why-us-heading h1 {
    font-size: 4em !important;
    margin: 0 !important;
    margin-bottom: -0.5em !important;
    padding: 0.5em;
    padding-bottom: 0 !important;
  }

  #expertise {
    text-align: center !important;
  }
}