@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #0d6115;
  --brand-text-color-green: #0c5814;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav-padding {
  padding-top: 10em;
}

.green-text {
  color: var(--brand-text-color-green);
  font-weight: normal;
}

.shape {
  background-color: var(--brand-green);
}

.background-cover {
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-cover-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-heading {
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 5em;
  line-height: 0.8;
}

.main-heading.why-us {
  font-size: 6em;
}

.sub-heading {
  font-size: 1.9em;
  font-weight: bold;
  color: var(--brand-green);
  margin-top: 1em;
  padding-bottom: 0.5em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Loader css */
.loader-page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 999;
}

.loader-container {
  position: relative;
  height: 4.25em;
  width: 4.25em;
}

.loader {
  width: 4.25em;
  aspect-ratio: 1;
  display: flex;
  color: #0d6115;
  background: linear-gradient(currentColor 0 0) right / 51% 100%,
    linear-gradient(currentColor 0 0) bottom / 100% 51%;
  background-repeat: no-repeat;
  animation: l16-0 2s infinite linear 0.25s;
  border-radius:5px;
}

.hero-loader {
  animation: l16-0 2s infinite linear 0.25s !important;
}

.hero-loader::before {
  content: "";
  width: 50%;
  height: 50%;
  background: #0d6115;
  animation: l16-1 0.5s infinite linear;
  border-radius: 3px !important;
}

.text {
  font-weight: 700;
  font-size: 4em;
  padding: 0 1.5px;
}

/* .text:last-child {
  margin-left: 6em;
} */

.loader-text {
  font-weight: 700;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before {
  content: "";
  width: 50%;
  height: 50%;
  background: #0d6115;
  animation: l16-1 0.5s infinite linear;
  border-radius:5px;
}

@keyframes l16-0 {
  0%,
  12.49% {
    transform: rotate(0deg);
  }

  12.5%,
  37.49% {
    transform: rotate(90deg);
  }

  37.5%,
  62.49% {
    transform: rotate(180deg);
  }

  62.5%,
  87.49% {
    transform: rotate(270deg);
  }

  87.5%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes l16-1 {
  0% {
    transform: perspective(80px) rotate3d(-1, -1, 0, 0);
  }

  80%,
  100% {
    transform: perspective(80px) rotate3d(-1, -1, 0, -180deg);
  }
}


@media (width <= 576px){
  .main-heading {
    font-size: 2.5em;
  }
}