.row-contact span::before {
  font-size: 2.5em;
}

footer {
  max-width: 100vw;
  overflow: hidden;
}

.adresses p {
  padding-bottom: 1em;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-items a {
  font-weight: 600 !important;
}

.footer-items a:hover {
  color: var(--brand-text-color-green) !important;
}

@media (width <= 576px){
  #contact > div {
    padding: 0 0.5em;
  }

  .footer-copy {
    padding-top: 2em;
  }

  .footer-items {
    padding-bottom: 0.5em;
  }
}