.blog-list {
  list-style: square;
}

.blog-article {
  padding-inline: 1rem;
}

.blog-post article h1,
.blog-post article h2,
.blog-post article h3 {
  font-size: calc(0.7rem + 0.9vw) !important;
  font-weight: 500;
}

.blog-post aside {
  padding: 1.5rem;
}

.blog-post ul {
  padding-left: 2rem;
}